@import "../../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0px;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size: 12px;
}

#menu {
  background-color: alpha(@foreground, 0.05);
  border-bottom: 1px solid alpha(@foreground, 0.5);
  border-radius: 2px;
  margin: 1px 2px;
  padding: 0px 2px 0px; 
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}
